*{
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    margin: 0;
}

.container{
    display: flex;
    background-color: hsl(221, 100%, 96%);
    max-width: 1440px;
    height: 800px;
    margin: 0 auto;
    align-items: center;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}
p{
    margin: 0;
}

.card{
    display: flex;
    margin: 20% auto;
    max-width: 560px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 15px 15px 15px hsla(256, 72%, 46%, 0.08);
}

.result{
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%)
    );
    width: 280px;
    text-align: center;
    padding: 6% 4%;
    color: #fff;
    border-radius: 20px;
    box-sizing: border-box;
}

.score{
    justify-content: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    padding: 10%;
    width: 100px;
    height: 100px;
    margin: 12% auto;
}

.score h1{
    font-size: 3.5rem;
    margin: 0;
    font-weight: 800;
}
.score h3{
    font-size: 0.8rem;
    margin: 0;
    color: hsl(241, 100%, 89%);
}

.result h2{
    color: hsl(241, 100%, 89%);
    font-size: 1rem;
}

.text p{
    color: hsl(241, 100%, 89%);
    font-size: 1rem;
    margin: 5% 0;
    font-weight: 500;
}

.text{
    padding: 0 3%;
}

.text h3{
    font-size: 1.8rem;
    font-weight: 700;
}

.summary{
    width: 280px;
    padding: 3%;
    box-sizing: border-box;
}

.summary h2{
    font-size: 1.2rem;
    padding: 7% 3%;
    font-weight: 800;
}

.reaction{
    display: flex;
    background-color: hsla(0, 100%, 67%, 0.1);
    padding: 5%;
    margin: 6% 3%;
    border-radius: 1vh;
    justify-content: space-between;
}

.reaction h3{
    color: hsl(0, 100%, 67%);
    font-size: 1rem;
    padding: 0 10%;
}

.left{
    display: flex;
}
.right p{
    display: inline;
    font-size: 1rem;
    font-weight: 700;
}

.right p:nth-child(2){
    color: hsl(0, 0%, 66%);
}

.memory{
    display: flex;
    background-color: hsl(39, 100%, 56%, 0.1);
    padding: 5%;
    margin: 6% 3%;
    border-radius: 1vh;
    justify-content: space-between;
}

.memory h3{
    color: hsl(39, 100%, 56%);
    font-size: 1rem;
    padding: 0 10%;
}

.verbal{
    display: flex;
    background-color: hsl(166, 100%, 37%,0.1);
    padding: 5%;
    margin: 6% 3%;
    border-radius: 1vh;
    justify-content: space-between;
}

.verbal h3{
    color: hsl(166, 100%, 37%);
    font-size: 1rem;
    padding: 0 10%;
}

.visual{
    display: flex;
    background-color: hsl(234, 85%, 45%, 0.1);
    padding: 5%;
    margin: 6% 3%;
    border-radius: 1vh;
    justify-content: space-between;
}

.visual h3{
    color: hsl(234, 85%, 45%);
    font-size: 1rem;
    padding: 0 10%;
}

.button{
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
    border-radius: 5vh;
    padding: 5%;
    margin: 12% 3%;
}

.button h3{
    font-size: 1rem;
}

@media screen and (max-width: 376px) {
    .card{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        margin: 0 auto;
        border-radius: 0;
    }
    .container{
        display: flex;
        background-color: hsl(221, 100%, 96%);
        max-width: 375px;
        height: 100%;
        align-items: normal;
    }
    .summary{
        width: 375px;
        border-radius: 0;
    }
    .result{
        width: 375px;
        border-radius: 0 0 20px 20px;
    }
}